<div class="row l-4 m-4 c-12 l-o-4 m-o-4">
    <div class=" mt-4 ">
        <form method="POST">
            <div class="form-group ">
                <label for="exampleInputEmail1">Từ khóa </label>
                <input class="form-control" id="search-input" name="q" placeholder="Enter your từ khóa .....">

            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>